GEMINI_API_KEY=sk-xxx-change-me
CEREBRAS_API_KEY=change-me-xxx
OPENROUTER_API_KEY=change-me-xxx
EMAIL_PASSWORD=change-me-16chars
EMAIL_FROM=your_email@gmail.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587